<% provide(:title, "Top") %>
<section class="container">
  <h1>学習アプリ(仮)</h1>
  <h2>教材作成、学習計画、ノート作成、問題演習、学習リソースの共有、全てをこのアプリで実現できます。</h2>
  <%= link_to "新規ユーザー登録", '#', class: "btn btn-primary btn-lg signin-btn" %>
  <%= link_to "ゲストログイン", '#', class: "btn btn-primary btn-sm signin-btn" %>
</section>