@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}


a:hover {
  text-decoration: none;
}

header {
  height: 60px;
  background-color: #adff2f;
  ul {
    display: flex;
    list-style: none;
    li {
      margin-right: 10px;
    }
  }
}

footer{
  height: 30px;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa;
  ul {
    display: flex;
    list-style: none;
    margin: 30px;
    li {
      margin-right: 10px;
    }
  }
}

.container {
  margin: 0 30px 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.btn-lg {
  width: 200px;
}
.btn-sm {
  width: 150px;
}
.signin-btn {
  display: block;
  margin: 10px auto;
}

.devise-title {
  text-align: center;
}