<p><%= @resource.name %>さん</p>

<p>パスワード入力の試行回数が規定の回数を超えたため、あなたのアカウントがロックされました。</p>

<p>下記のリンクからアカウントのロックを解除してください。</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
